@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes shine {
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shine {
  animation: shine 1.5s ease-in-out;
}

.bg-size-200 {
  background-size: 200% 200%;
}

.bg-pos-0 {
  background-position: 0% 50%;
}

.bg-pos-100 {
  background-position: 100% 50%;
}

.perspective-1000 {
  perspective: 1000px;
}
